<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Clásicos</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Casablanca</h3>
        <p>Una historia de amor en tiempos de guerra, ambientada en Marruecos durante la Segunda Guerra Mundial.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>El Padrino</h3>
        <p>La saga de la familia Corleone, que explora el crimen organizado en Estados Unidos.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Lo que el viento se llevó</h3>
        <p>Un clásico del cine sobre amor y guerra en el sur de Estados Unidos.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Psicosis</h3>
        <p>Un thriller psicológico que redefinió el género del horror.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>