<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Comedia</ion-title>

    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Superbad</h3>
        <p>Dos adolescentes intentan disfrutar de una última fiesta antes de graduarse.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>La Vida Es Bella</h3>
        <p>Un padre utiliza su imaginación para proteger a su hijo de la realidad de un campo de concentración.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>El gran Lebowski</h3>
        <p>Un caso de identidad errónea lleva a una serie de situaciones absurdas.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>¿Qué pasó ayer?</h3>
        <p>Un grupo de amigos intenta recordar lo que sucedió en una noche de locura.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>