<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Estrenos</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Oppenheimer</h3>
        <p>La historia del desarrollo de la bomba atómica durante la Segunda Guerra Mundial.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Barbie</h3>
        <p>Una aventura divertida que explora el mundo de Barbie y su impacto cultural.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Dune</h3>
        <p>Una epopeya de ciencia ficción basada en la novela de Frank Herbert.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Guardians of the Galaxy Vol. 3</h3>
        <p>Los Guardianes enfrentan nuevos desafíos en su última aventura juntos.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>