<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Terror</ion-title>

    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>El Exorcista</h3>
        <p>Una madre busca ayuda para su hija poseída por una entidad demoníaca.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>IT</h3>
        <p>Un grupo de niños enfrenta a un ser malévolo que toma la forma de un payaso.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Hereditary</h3>
        <p>Una familia descubre oscuros secretos tras la muerte de su abuela.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>It Follows</h3>
        <p>Una joven es perseguida por una entidad sobrenatural después de una relación.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>