<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Acción</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Mad Max: Fury Road</h3>
        <p>En un mundo post-apocalíptico, Max se une a un grupo de rebeldes para sobrevivir.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>John Wick</h3>
        <p>Un exasesino a sueldo busca venganza tras la muerte de su perro.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Die Hard</h3>
        <p>Un policía lucha contra un grupo de terroristas en un rascacielos.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Los Vengadores</h3>
        <p>Un grupo de superhéroes se une para salvar al mundo de una amenaza alienígena.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>