<ion-header>
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Retrocede a la página de inicio o al menú -->
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>The Cinema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación creada para los amantes del cine.</p>
      <p>Desarrollada con amor por Diego Ríos. ♡</p>
    </ion-card-content>
  </ion-card>
</ion-content>
