<ion-content class="welcome-content">
  <img src="assets/images/logo.png" alt="The Cinema" class="welcome-image" />
  <div class="category-buttons">
    <ion-button class="custom-button" [routerLink]="['/estrenos']">Estrenos</ion-button>
    <ion-button class="custom-button" [routerLink]="['/clasicos']">Clásicos</ion-button>
    <ion-button class="custom-button" [routerLink]="['/comedia']">Comedia</ion-button>
    <ion-button class="custom-button" [routerLink]="['/terror']">Terror</ion-button>
    <ion-button class="custom-button" [routerLink]="['/accion']">Acción</ion-button>
  </div>
</ion-content>
