ion-header ion-toolbar ion-title {
  font-size: 25px; /* Cambiar el tamaño de la fuente */
  font-weight: bold; /* Hacer el título en negrita */
  color: #ffffff; /* Color blanco */
  text-transform: uppercase; /* Transformar el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
}




.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  margin: 0; 
}

.welcome-text {
  text-align: center;
  margin-bottom: 20px; 
}

.welcome-title {
  font-size: 30px; 
  color: #195391; 
  font-weight: bold;
}

.welcome-subtitle {
  font-size: 18px; 
  color: #777; 
}

ion-menu {
  --background: #3a3a3a;
}

ion-menu ion-item {
  --color: white; 
}

ion-menu ion-label {
  font-size: 25px; 
  color: rgb(0, 0, 0); 
}

ion-header ion-icon {
  color: white;
}

ion-header {
  --background: #011639; 
}

ion-toolbar {
  --background: #011639;
}

.about-item ion-label {
  font-size: 10px; 
  color: #000000;      
}

.category-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px; 
}

.custom-button {
  --background: #011639; 
  --color: rgb(0, 0, 0);
  --border-radius: 5px; 
  padding: 15px;
  font-size: 18px; 
}
